<div class="row">
  <span class="daenerys"><h2>Pending Orders</h2></span>

  {{#each orders.pending as |order| }}

    <div class="col-xs-3 pending-order">
      <div class="row">
        <p>Order No.{{order.id}}</p>
        {{#each order.fooditems as |fooditem|}}
          <P>{{fooditem.name}}</p>
        {{/each}}
      </div>
      <div class="row">
        <P>Date: {{order.date_created}}</p>


      </div>

      <button class="btn btn-primary" {{action 'selectOrder' order}}>Select Order</button><br>

    </div>
  {{/each}}
</div>

<div class="row">

  <span class="daenerys"><h2>Orders being cooked</h2></span>

  {{#each orders.cooking as |order| }}

    <div class="col-xs-3 pending-order">
      <div class="row">
        <p>Order No.{{order.id}}</p>
        {{#each order.fooditems as |fooditem|}}
          <P>{{fooditem.name}}</p>
        {{/each}}
      </div>
      <div class="row">
        <P>Date: {{order.date_created}}</p>


      </div>


      <button class="btn btn-danger" {{action 'serveOrder' order}}>Done</button>
    </div>
  {{/each}}
</div>
