
<div class="row">
<h3>Pending Orders</h3>
  {{#each orders.pending as |order| }}

  <div class="col-xs-3 pending-order">
  <div class="row">
    <h5>Order No.{{order.id}}</h5>
    {{#each order.fooditems as |fooditem|}}
      <P>{{fooditem.name}}</p>
    {{/each}}
    </div>
      <div class="row">
        <P>Date: {{order.date_created}}</p>


      </div>

    <button class="btn btn-primary" {{action 'selectOrder' order}}>Select Order</button><br>

    </div>
  {{/each}}
</div>
  <div class="row">
    <h3>Orders being cooked</h3>
    {{#each orders.cooking as |order| }}

    <div class="col-xs-3 pending-order">
    <div class="row">
      <h5>Order No.{{order.id}}</h5>
      {{#each order.fooditems as |fooditem|}}
        <P>{{fooditem.name}}</p>
      {{/each}}
      </div>
        <div class="row">
          <P>Date: {{order.date_created}}</p>


        </div>

    
      <button class="btn btn-danger" {{action 'removeOrder' order}}>Done</button>
      </div>
    {{/each}}
  </div>
