<div class="row fooditem">
  <div class="col-xs-2 foodimage">
    <img src={{fooditem.image}} alt="">
  </div>
  <div class="col-xs-7">
    <div class="row">
      {{fooditem.name}}
    </div>
    <div class="row fooddescription">
      {{fooditem.description}}
    </div>

  </div>
  <div class="col-xs-2 foodprice">
      {{fooditem.price}}
  </div>
  <div class="col-xs-1">
    <i {{action 'addToCart' fooditem}}class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
  </div>

</div>
