<div class="jumbotron orders">
	<p>Click on the plus sign on each item to add to your order basket</p>
	{{#if orderBasket.items}}
		<div class="row order-title">
		  <div class="col-xs-7">
		    <p>Name</p>
		  </div>
		  <div class="col-xs-5">
		    <p>Price</p>
		  </div>
		</div>
		{{#each orderBasket.items as |item|}}
		<div class="row">
		  <div class="col-xs-7">
		    {{item.name}}
		  </div>
		  <div class="col-xs-5">
		    {{item.price}}
		    <i {{action 'removeItem' item}} class="fa fa-times" aria-hidden="true"></i>
		  </div>
		</div>
		{{/each}}
		<hr>
		<div>
			<p><strong>KSH. {{totalPrice}}</strong></p>
		</div>
		<form>
			<div class="form-group">
				<label for="table">Table No:</label>
				{{input type="number" name="table" value=table placeholder="Enter table Number" id='table_no' class="form-control"}}
			</div>
			<div class="form-group">
				<label for="customer_id">Customer ID:</label>
				{{input type="number" name="customer_id" value=customer_id placeholder="Enter Customer Id"  class="form-control"}}
			</div>
			<button type="submit" {{action 'makeOrder'}} clas>Place Order</button>
		</form>
	{{/if}}
  <script type="text/javascript">
    function showReviewmodal(){

      $('#myModal').modal('show');
    }
    function showAssistancemodal(){

      $('#assistancemodal').modal('show');
    }
  </script>
	<div id="review-button" onclick="showAssistancemodal()">
		<p>Call For Assistance</p>
	</div>
	<div id="review-button" onclick="showReviewmodal()">
		<p>Leave Feedback</p>
	</div>
</div>





  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Leave a review, complaint or compliment</h4>
        </div>
        <div class="modal-body">
          <div>
          	<form>
          		<div class="form-group">
          			<label>Name:</label>
          			{{input type='text' value=author class="form-control"}}
          		</div>
          		<div class="form-group">
          			<label>Item of review:</label>
          			{{input type='text' class='form-control' value=title}}
          		</div>
          		<div class="form-group">
          			<label>Description:</label>
          			{{textarea class='form-control' value=description}}
          		</div>
          	</form>
          </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal" {{action 'submitReview'}}>Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="assistancemodal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter details below for quick assistance.</h4>
        </div>
        <div class="modal-body">
          <div>
          	<form>
          		<div class="form-group">
          			<label>Name:</label>
          			{{input type='text' value=assistancename class="form-control"}}
          		</div>
          		<div class="form-group">
          			<label>Table No:</label>
          			{{input type='number' class='form-control' value=assistancetable}}
          		</div>
          	</form>
          </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal" {{action 'callAssistanceSubmit'}}>Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
