<div class="jumbotron orders">
	{{#if orderBasket.items}}
		<div class="row">
		  <div class="col-xs-9">
		    Name
		  </div>
		  <div class="col-xs-3">
		    Price
		  </div>
		</div>
		{{#each orderBasket.items as |item|}}
		<div class="row">
		  <div class="col-xs-9">
		    {{item.name}}
		    {{item.quantity}}
		  </div>
		  <div class="col-xs-3">
		    {{item.price}}
		    <i {{action 'removeItem' item}}class="fa fa-times" aria-hidden="true"></i>
		  </div>
		</div>
		{{/each}}
		<hr>
		<div>
			<p><strong>KSH. {{totalPrice}}</strong></p>
		</div>
		<form>
			<div class="form-group">
				<label for="table">Table No:</label>
				{{input type="number" name="table" value=table placeholder="Enter table Number" class="form-control"}}
			</div>
			<div class="form-group">
				<label for="customer_id">Customer ID:</label>
				{{input type="number" name="customer_id" value=customer_id placeholder="Enter Customer Id"  class="form-control"}}
			</div>
			<button type="submit" {{action 'makeOrder'}} clas>Place Order</button>
		</form>
	{{else}}
	<p>Click on the plus sign on each item to add to your order basket</p>
	<button class="btn btn-danger">Call For Assistance</button>
	{{/if}}
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Customer</h4>
        </div>
        <div class="modal-body">
          <div>
          	<form>
          		<div class="form-group">
          			<label>Name:</label>
          			{{input type='text' value=name class="form-control"}}
          		</div>
          	</form>
          </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
