<div class="row fooditem">
   <div class="col-xs-2 foodimage">
    <img src={{fooditem.image}} alt="">
  </div>
  <div class="col-xs-6">
    <p>{{fooditem.name}}</p>
    <p><span class="fooddescription">{{fooditem.description}}</span></p>
  </div>
  <div class="col-xs-2 foodprice">
      <p>KSH.{{fooditem.price}}</p>
  </div>
  <div class="col-xs-2 cartplus">
    <i {{action 'addToCart' fooditem}} class="fa fa-plus-circle fa-4x" id={{fooditem.id}} aria-hidden="true"></i>
  </div>
</div>
