{{#each orderBasket.items as |item|}}
<div class="row">
  <div class="col-xs-9">
    {{item.name}}
  </div>
  <div class="col-xs-3">
    {{item.price}}
  </div>
</div>

{{/each}}
{{input type="number" name="table" value=table placeholder="Enter table Number"}}
{{input type="number" name="customer_id" value=customer_id placeholder="Enter Customer Id"}}
{{totalPrice}}
<button{{action 'makeOrder'}}>Place Order</button>