<div class="container">
  
  <div class="tyrion">
    <h2><em>Welcome to</em></h2>
    <img src="http://www.eatlogos.com/food_and_drinks/png/vector_chief_food_logo.png" class="resize" alt="">
    <h2><i>Mlo-safi Menu Restaurant</i></h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      {{#if model.mainmeal}}
        <h2>Main Meal</h2>
        {{#each model.mainmeal as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.breakfast}}
        <h2>BreakFast</h2>
        {{#each model.breakfast as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.hotdrinks}}
        <h2>Hot Drinks</h2>
        {{#each model.hotdrinks as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.colddrinks}}
        <h2>Cold Drinks</h2>
        {{#each model.colddrinks as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.vegan}}
        <h2>Vegan Dishes</h2>
        {{#each model.vegan as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.dessert}}
        <h2>Dessert</h2>
        {{#each model.dessert as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.snacks}}
        <h2>Snacks</h2>
        {{#each model.snacks as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}
      {{#if model.alcohol}}
        <h2>Alcoholic Drinks</h2>
        {{#each model.alcohol as |fooditem|}}
          {{view-fooditem fooditem=fooditem}}
        {{/each}}
      {{/if}}

    </div>
    <div class="col-sm-3">
      <h2>Orders</h2>
      {{view-order confirmOrder='confirmOrder' submitReview='submitReview'}}
    </div>
  </div>

</div>
